name: Linux

on:
  workflow_call:
    inputs:
      upload_url:
        required: false
        type: string
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:      
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install tools
      run: |
       sudo apt-get update
       sudo apt-get install -y cmake
       sudo apt-get install -y ninja-build
       sudo apt-get install -y clang

    - name: Configure and build
      run: |
        cmake --preset ninja-multi
        cmake --build --preset ninja-release

    - name: Upload binary to release (optional)
      if: ${{ inputs.upload_url }}
      id: upload-release-binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ inputs.upload_url }}
          asset_path: build/Release/udp-relay
          asset_name: udp-relay-linux64
          asset_content_type: application/executable
  
    
