name: Windows

on:
  workflow_call:
    inputs:
      upload_url:
        required: false
        type: string
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4

    - name: Install tools
      run: |
        choco install cmake --no-progress
        choco install openssl --no-progress

    - name: Configure and build
      run: |
        cmake --preset msvc2022
        cmake --build --preset msvc2022-release

    - name: Upload binary to release (optional)
      if: ${{ inputs.upload_url }}
      id: upload-release-binary
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          upload_url: ${{ inputs.upload_url }}
          asset_path: build/Release/udp-relay.exe
          asset_name: udp-relay-win64.exe
          asset_content_type: application/executable
